<p><img src="pics/<%= firstName %>_<%= lastName %>.jpg"  onerror="this.src='pics/James_King.jpg'" width="160" height="160"/></p>
<h3><%= firstName %> <%= lastName %></h3>
<h4><%= title %></h4>
<br>
        <table class="table table-striped">
            <%
            if (managerId)
            {
            %>
            <tr>
                <td>Przełożony:</td>
                <td><i class="icon-user"></i> <a href='#employees/<%= managerId %>'><%= managerName %></a></td>
            </tr>
            <%
            }
            %>
            <tr>
                <td>Miasto:</td>
                <td><i class="icon-home"></i> <%= city %></td>
            </tr>
            <tr>
                <td>Telefon:</td>
                <td><i class="icon-briefcase"></i> <%= officePhone %></td>
            </tr>
            <tr>
                <td>Komórka:</td>
                <td><i class="icon-headphones"></i> <%= cellPhone %></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><i class="icon-envelope"></i> <a href="mailto:<%= email %>"><%= email %></a></td>
            </tr>
            <tr>
                <td>Social:</td>
                <td><i class="icon-retweet"></i> <a href=""><%= twitterId %></a></td>
            </tr>
            <tr class="success">
                <td>Tagi:</td>
				<% if(tags == "telemechanika") { %>
					<td><i class="icon-tags"></i><span class="label label-info"><%= tags %></span></td>
				<% } else { %>
				<% if(tags == "Farmy Wiatrowe") { %>
					<td><i class="icon-tags"></i><span class="label label-warning"><%= tags %></span></td>
				<% } else { %>
					<td><i class="icon-tags"></i><span class="label label-success"><%= tags %></span></td>
				<% }} %>

            </tr>
        </table>

        <div class="alert alert-warning">
          <h4 class="alert-heading">Uwaga !</h4>
          Adresy proszę podawać z kodem, telefony miejskie z prefiksem (XX).
        </div>
